@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --white: #fff;
  --black: #000;
  --montserrat: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;
  --text-size: 40px;
  --border: 5px solid #2d1765;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #fbf4ff, #e2f8ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
  font-family: var(--montserrat);
}

ul {
  list-style: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #2d1765;
  padding: 5px 1rem;
}
